/*Embrulho das seções*/
.app-wrapper{
    display: flex;
    flex-direction: column;

    height: 100%;

    background-image: url("https://images.unsplash.com/photo-1635233787807-2a4a212ddca3?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1080&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzNTM1NDEyMA&ixlib=rb-1.2.1&q=80&w=1920");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Seção superior*/
.top-section{
    //background-color: aquamarine;
    text-align: center;

    padding: 100px 0;

    h1 {
        font-size: 120px;
        font-weight: bold;
        color: #f5f5f5;
        text-shadow: 0px 1px 7px rgba(black, 0.1);

    }

    h2 {
        font-size: 28px;
        color: white;
        text-shadow: 0px 1px 4px rgba(black, 0.1);
    }
}

/*Seção de conteudo*/
.content-section{
    //background-color: blue;
    flex-grow: 1;
}

/*Seção inferior*/
.bottom-section{
    //background-color: rebeccapurple;
    display: flex;

    app-tabs {
        margin: auto;
    }
}